* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: min(1440px, 100%);
    margin-inline: auto;
}

:root {
    --body-bg: #fff;
    --logo-text: #282525;
    --text-color: #5D5656;
    --item: #C4C4C4;
    --form: #DC3845;
    --form-input-bg:#FFF;
    --form-btn: #282525;
}

.dark {
    --body-bg: #251819;
    --logo-text: #F3F2F2;
    --text-color: #C2BDBD;
    --item: #251819;
    --form: #2F2223;
    --form-input-bg:#251819;
    --form-btn: #DC3845;
}

body {
    background: var(--body-bg);
}

nav {
    padding-block: 24px;
    padding-inline: 156px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
}

.nav__logo-text {
    color: var(--logo-text);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.nav__main-wrapper {
    display: flex;
    align-items: center;
    gap: 48px;
}

.menu, .close {
    display: none;
}

.nav__links {
    display: flex;
    gap: 48px;
}

.nav__link {
    color: var(--logo-text);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    transition: color 0.2s ease-in-out;
}

.nav__link:hover {
    color: #DC3845;
}

@media (max-width: 970px) {
    nav {
        padding-inline: 24px;
    }
}

@media (max-width: 700px) {
    .nav__links {
        display: none;
    }

    .nav__link {
        padding: 30px;
    }

    .menu {
        display: block;
        margin-top: -7px;
        order: 1;
    }

    .nav__main-wrapper {
        gap: 1rem;
    }

    .is-opened {
        position: fixed;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100vh;
        background: var(--mobile-nav);
        backdrop-filter: blur(35px);
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10;
        justify-content: center;
        gap: 2rem;
    }

    .close {
        display: block;
        position: absolute;
        right: 4%;
        top: 1.5rem;
        cursor: pointer;
    }
}

.main .container {
    padding-block: 64px;
    padding-inline: 100px;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.main__title {
    color: var(--logo-text);
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 140%; 
}

.main__text {
    margin-top: 1rem;
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.main__btn {
    margin-top: 1rem;
    padding: 20px 62px;
    border-radius: 64px;
    border: none;
    background: var(--first-color, #DC3845);
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.main__btn:hover {
    box-shadow: 0px 0px 18px 0px #DC3845;
}

@media (max-width: 1088px) {
    .main .container {
        padding-inline: 50px;
    }
}

@media (max-width: 982px) {
    .main .container {
        padding-block: 32px;
        flex-direction: column;
        text-align: center;
    }

    .main__img {
        width: 60%;
    }
}

@media (max-width: 550px) {
    .main .container {
        padding-inline: 24px;
    }

    .main__title {
        font-size: 24px;
        font-weight: 600;
        line-height: 140%; 
    }

    .main__text {
        font-size: 13px;
    }

    .main__img {
        width: 80%;
    }
}

.start .container {
    padding-block: 44px;
    padding-inline: 100px;
}

.start__title {
    color: var(--logo-text);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.start__item-wrapper {
    display: flex;
    gap: 10rem;
    justify-content: center;
    text-align: center;
    margin-top: 2.8rem;
}

.start__img {
    margin-top: 12px;
}

.start__item-title {
    color: var(--logo-text);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.start__item-text {
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

@media (max-width: 950px) {
    .start__item-wrapper {
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
    }
}

@media (max-width: 420px) {
    .start .container {
        padding-inline: 24px;
    }

    .start__title {
        font-size: 20px;
    }
}

.celebrate .container {
    padding-block: 64px;
    padding-inline: 100px;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.celebrate__title {
    color: var(--logo-text);
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.celebrate__text {
    color: var(--text-color);
    margin-top: 1rem;
}

.celebrate__btn {
    margin-top: 1.8rem;
    padding: 20px 62px;
    border-radius: 64px;
    border: none;
    background: var(--first-color, #DC3845);
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.celebrate__btn:hover {
    box-shadow: 0px 0px 18px 0px #DC3845;
}

@media (max-width: 1060px) {
    .celebrate .container {
        padding-inline: 50px;
        gap: 2rem;
    }
}

@media (max-width: 866px) {
    .celebrate .container {
        flex-direction: column;
        padding-inline: 24px;
        gap: 0rem;
        text-align: center;
    }
}

@media (max-width: 540px) {
    .celebrate__img {
        width: 100%;
    }
}

@media (max-width: 408px) {
    .celebrate__title {
        font-size: 20px;
        font-weight: 600;
    }

    .celebrate__text {
        font-size: 15px;
    }
}

.share .container {
    padding-block: 72px;
}

.share__title {
    color: var(--logo-text);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.share__wrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-inline: 150px;
    gap: 40px;
}

.share__item {
    border-radius: 12px;
    background: var(--body-bg);
    box-shadow: 0px 4px 24px 0px rgba(48, 29, 30, 0.10);
    position: relative;
    width: 200px;
    height: 247px;
}

.heart {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.share__item-img {
    margin-top: 2rem;
    display: block;
    margin-inline: auto;
}

.share__item-price {
    color: var(--logo-text);
    margin-top: 1rem;
    padding-left: 24px;
    font-size: 20px;
    font-weight: 600;
}

.share__item-name {
    color: var(--text-color);
    padding-left: 24px;
    font-size: 14px;
    font-weight: 500;
}

@media (max-width: 520px) {
    .share__wrapper {
        margin-top: 1rem;
        padding-inline: 70px;
    }
}

@media (max-width: 378px) {
    .share__wrapper {
        margin-top: 1rem;
        padding-inline: 24px;
    }
}

.gift .container {
    padding-block: 44px;
}

.gift__title {
    color: var(--logo-text);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.gift__wrapper {
    padding-inline: 220px;
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 44px;
}

.gift__item {
    border-radius: 12px;
    background: var(--body-bg);
    box-shadow: 0px 4px 24px 0px rgba(48, 29, 30, 0.10);
    width: 230px;
    height: 278px;
}

.gift__item-img {
    display: block;
    margin-inline: auto;
    padding-top: 10px;
}

.gift__item-price {
    color: var(--logo-text);
    text-align: center;
    margin-top: 1rem;
    font-size: 20px;
    font-weight: 600;
}

.gift__item-title {
    color: var(--text-color);
    text-align: center;
    margin-top: 0.4rem;
    font-size: 15px;
    font-weight: 500;
}

@media (max-width: 670px) {
    .gift__wrapper {
        padding-inline: 100px;
        margin-top: 1.5rem;
        gap: 20px;
    }
}

@media (max-width: 440px) {
    .gift__wrapper {
        padding-inline: 24px;
        margin-top: 1.5rem;
        gap: 20px;
    }
}

.form .container {
    padding-block: 80px;
    padding-inline: 156px;
}

.form__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 32px;
    background: var(--form);
    padding-inline: 100px;
    padding-block: 50px;
}

.form__title {
    color: #FFF;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
}

.form__input {
    display: block;
    margin-top: 1rem;
    border-radius: 64px;
    background: var(--form-input-bg);
    padding: 18px 110px 17px 24px;
    color: var(--text-color-light, #918889);
    font-size: 13px;
    border: none;
}

.form__btn {
    margin-top: 1rem;
    padding: 16px 32px;
    border: none;
    border-radius: 64px;
    background: var(--form-btn);
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.form__btn:hover {
    box-shadow: 0px 0px 18px 0px var(--form-btn);
}

@media (max-width: 1103px) {
    .form .container {
        padding-inline: 50px;
    }
}

@media (max-width: 875px) {
    .form .container {
        padding-inline: 50px;
    }

    .form__wrapper {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 500px) {
    .form .container {
        padding-inline: 24px;
    }

    .form__wrapper {
        flex-direction: column;
        text-align: center;
    }

    .form__title {
        font-size: 20px;
    }
}

@media (max-width: 407px) {
    .form__img {
        display: none;
    }

    .form__input {
        width: 75%;
        margin-inline: auto;
    }

    .form__wrapper {
        padding-inline: 0px;
        padding-block: 65px;
    }
}

footer .container {
    padding-block: 50px;
    padding-inline: 100px;
}

.footer__main-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__logo-wrapper {
    display: flex;
    gap: 4px;
    align-items: center;
}

.footer__logo-text {
    color: var(--logo-text);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.footer__company-text {
    margin-top: 24px;
    color: var(--text-color);
    font-size: 14px;
}

.footer__secondary-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer__main-link {
    color: var(--logo-text);
    font-size: 20px;
    font-weight: 600;
}

.footer__links-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__secondary-link {
    color: var(--text-color);
    transition: color 0.3s ease-in-out;
}

.footer__secondary-link:hover {
    color: #DC3845;
}

.footer__store-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.footer__rights {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.footer__rights-text {
    color: var(--text-color-light, #918889);
    font-size: 12px;
}

@media (max-width: 890px) {
    .footer__main-wrapper {
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }

    .footer__store-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }

    .footer__rights {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
}

@media (max-width: 420px) {
    footer .container {
        padding-inline: 24px;
    }
}